@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700&display=swap');
body{
    font-family: 'Work Sans',sans-serif;
}
a{
    color: black;
}
a:hover{
    color: #555;
}
.breadcrumb{
    font-size: 80%;
}
#bar img{
    height:5px;
    width: 100%;
}
.heading{
    font-weight: 600;
}
.subHeading{
    color: #193f53;
}
.worldImg{
    background-image: url('../img/worldmap.png');
    height: 300px;
    background-size: cover;
}
.rowWrapper{
    display: flex;
    align-items: flex-start;
}
.index{
    border: solid 2px #225977;
    padding: 10px;
    min-height: 50px ;
    min-width: 50px;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.index-content{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px black;
    padding-left: 10px;
    padding-right: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px ;
    min-height: 50px;
}
section li{
    margin: 10px;
}
@media (min-width:768px){
    .breadcrumb{
        font-size: 90%;
    }
    .heading{
        font-size: 20px;
    }
    .worldImg{
        height:300px;
    }
    .index-content{
        padding-right: 40px;
    }
}
@media (min-width:1020px){
    .breadcrumb{
        font-size: 100%;
    }
    .heading{
        font-size:22px
    }

    .worldImg{
        height: 400px;
    }
}